.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 978px;
  opacity: 1;
  gap: 16px;
}

.page-users {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.page-container {
  width: 800px;
  height: 88px;
  opacity: 1;
  border: 1px solid #aaaaaa;
  margin-top: 10px;
}

.sidbar {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
}

.page-popular_tags {
  font-family: Titilium Bd;
  width: 768px;
  height: 20px;
  opacity: 1;
}

.page-component_list {
  display: flex;
  align-items: center;
  width: auto;
  height: 20px;
  gap: 8px;
  opacity: 1;
}

.page-component_item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Source Sans Pro Semibold;
  border-radius: 10px;
  color: #aaaaaa;
  opacity: 1;
  background: #ffffff;
  padding: 6px 16px;
  border: 1px solid #AAAAAA;
}

.page-component_item span {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  font-weight: 600;
  font-size: 12.8px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.page-component_item-one {
  width: 21px;
  height: 8px;
  opacity: 1;
}

.page-component_item-something {
  width: 59px;
  height: 8px;
  opacity: 1;
}

.page-component_item-chinese {
  width: 43px;
  height: 8px;
  opacity: 1;
}

.page-component_item-english {
  width: 40px;
  height: 8px;
  opacity: 1;
}

.page-component_item-frensh {
  width: 36px;
  height: 8px;
  opacity: 1;
}


