.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-baner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 190px;
  opacity: 1;
  background: #61bb61;
  color: white;
  box-shadow: inset 1px 1px 8px 0px #0000004d;
}

.home-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
}

.home-title_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 368px;
  height: 64px;
  opacity: 1;
  font-family: Titilium Bd;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0;
  border-bottom: 1px solid white;
  color: white;
}

.home-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 359px;
  height: 30px;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  opacity: 1;
}
