.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 24px 10px;
  gap: 16px;
  opacity: 1;
}

.signin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 24px 10px;
  opacity: 1;
  gap: 16px;
}

.signin-container h1 {
  display: flex;
  justify-content: center;
  width: 480px;
  height: 40px;
  opacity: 1;
  font-family: Titillium Bd;
  font-weight: 700;
  font-size: 46px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.signin-empty {
  width: 480px;
  height: 48px;
  padding: 12px 24px;
  opacity: 1;
  border-radius: 8px;
  border-width: 1px;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #aaaaaa;
}

.signin-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 480px;
  height: 43px;
  opacity: 1;
}

.signin-tab button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 43px;
  opacity: 1;
  border-width: 1px;
  border: 1px solid #61bb61;
  background: #61bb61;
  color: #ffffff;
  border-radius: 10px;
  margin-left: 360px;
}

.signin-empty_comment {
  width: 480px;
  height: 100px;
  opacity: 1;
  border-width: 1px;
  border: 1px solid #AAAAAA;
  border-radius: 8px;
  padding: 16px;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #333333;
  text-align: left;
}

.signin-empty_comment input::placeholder{
  text-align: left;
  color: #333333;
  opacity: 1;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 200px;
  height: 30px;
  margin-right: 285px;
  gap: 8px;
}

.signup-checkbox {
  width: 25px;
  height: 20px;
}

.signin-empty.signin-error {
  border: 1px solid #ef251e;
}

.signin-tab_logout {
  width: 480px;
  height: 32px;
  opacity: 1;
  border-radius: 8px;
  border-width: 1px;
}

.signin-tab_logout button {
  width: 150px;
  height: 32px;
  padding: 8px 16px;
  opacity: 1;
  border-radius: 8px;
  border-width: 1px;
  border: 1px solid #BB6161;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #BB6161;
}

.error {
  display: block;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #BB6161;
}
