.setting {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1160px;
  height: 523px;
  opacity: 1;
  padding: 10px;
}

.setting-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 503px;
  gap: 16px;
  opacity: 1;
  padding: 24px 10px;
}

.setting-form h1 {
  width: 480px;
  height: 40px;
  opacity: 1;
  font-family: Titillium;
  font-weight: 700;
  font-size: 46px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
